/* Common */
html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, "PingFangSC-Regular", "STHeiti", "WenQuanYi Zen Hei", "Microsoft JhengHei", "微軟正黑體", "儷黑 Pro", "LiHei Pro", "DFKai-SB", sans-serif;
}

.template {
    display: none !important;
}

.point-cursor {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.no-select {
    user-select: none;
}

.inline-block {
    display: inline-block;
}

.no-margin-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.dark-row {
    background: #2a9bef;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 400px) {
    .xs-hide {
        display: none;
    }
}

/* Toaster */
.toaster {
    position: fixed;
    bottom: 20px;
    right: 100px;
    z-index: 10006;
    padding-bottom: 20px;
}

.toaster-item {
    display: block;
    opacity: 1;
    background: #2c2c2c;
    color: white !important;
    width: 300px;
    padding: 15px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    margin-top: 10px;
    position: relative;
    padding-left: 36px;
    padding-top: 35px;
    border: 1px solid #2c2c2c;
}

.toaster-item.show {
    opacity: 0.8;
}

.toaster-item.show:hover {
    opacity: 1;
}

.toaster-item::before {
    display: block;
    height: calc(100% - 30px);
    position: absolute;
    left: 23px;
    padding-left: 10px;
    top: 15px;
}

.toaster-item.error::before {
    content: '錯誤';
    border-left: 3px solid #fa5c2d;
    color: #fa5c2d;
}

.toaster-item.warn::before {
    content: '警告';
    border-left: 3px solid #fac32e;
    color: #fac32d;
}

.toaster-item.info::before {
    content: '訊息';
    border-left: 3px solid #2daffa;
    color: #2daffa;
}

a.toaster-item::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0c1';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/* toggle button */

.btn-toggle {
    width: 40px;
    height: 24px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 24px;
    position: relative;
    transition: border-color 0.26s;
    user-select: none;
    transform: scale(1.2);
    display: inline-block;
    vertical-align: middle;
    background: transparent;
}

.btn-toggle::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #CCC;
    border-radius: 50%;
    transform: translate(-6px, 0);
    transition: background 0.26s, transform 0.26s;
}

.btn-toggle.on {
    border: 1px solid #3ac47d;
}

.btn-toggle.on::after {
    background: #3ac47d;
    transform: translate(9px, 0);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* overwrite */
h3 {
    font-size: 1.4rem !important;
}

a.data-row {
    color: #495057;
    border-left: none;
    border-right: none;
}

a.data-row:hover {
    color: #495057;
    text-decoration: none;
    border-left: none;
    border-right: none;
}

.btn {
    white-space: nowrap !important;
    border: none;
    overflow: hidden;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.data-row:first-child {
    border-top: 1px solid #ced4da;
}

.data-row {
    border-bottom: 1px solid #ced4da;
    padding: 15px 0;
}

.data-row:hover {
    background-color: #e0f3ff !important;
}

.data-row:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}

.data-row.active {
    background-color: #fac32e !important;
}

.data-row.disabled {
    background-color: #CCC;
}

.data-row.disabled:hover {
    background-color: #CCC !important;
}

/* autocomplete plugins overwrite */
.autocomplete-suggestions {
    position: absolute;
    z-index: 11;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.autocomplete-suggestions .autocomplete-suggestion {
    padding: 6px 12px;
    background: white;
}

.autocomplete-suggestions .autocomplete-suggestion.selected {
    background: #eff9ff;
}

.pagination-container {
    overflow-x: scroll;
    max-width: 340px;
    border-radius: 0 !important;
}

@media only screen and (max-width: 600px) {
    .pagination-container {
        max-width: 165px;
    }
}

.pagination-container .page-link {
    border-radius: 0 !important;
}

.select2-selection--multiple {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06);
    border-color: #c4c4c4;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #1694CA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06), 0 0 5px rgba(19, 131, 179, .7);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 5px 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 0 5px 0 0;
}

.select2-selection__choice {
    padding: 5px !important;
}

.select2-selection__choice img,
.select2-results__option img {
    max-height: 120px;
    max-width: 200px;
    margin-left: 15px;
}

.select2-results__option>div {
    justify-content: center;
    display: flex;
    align-items: center;
}

.select2-results__option>div>.text {
    height: 100%;
}

.select2-results__option>div>img {
    margin-left: auto;
    height: 100%;
}

.pad-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pad-15 {
    padding: 15px;
}

.card-body {
    padding: 15px !important;
}

.app-header__logo .logo-src {
    background-size: contain !important;
    background-repeat: no-repeat !important;
}