/* Common */
body,
html {
    padding: 0;
    margin: 0;
    font-family: Arial, "PingFangSC-Regular", "STHeiti", "WenQuanYi Zen Hei", "Microsoft JhengHei", "微軟正黑體", "儷黑 Pro", "LiHei Pro", "DFKai-SB", sans-serif;
}

.hide {
    display: none;
}